<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Code Snippet - Home</title>
  </head>
  <body>
    <h1>Welcome, {{user.name}}</h1>

    <a href="/createsnippet/new">Create a code snippet!</a><br />
    <a href="/logout">Log out</a>

    
  </body>
</html>
